Tuples and Unpacking Samantha Cress<br>
Section 5.3 Tuples

To create an empty tuple, use empty parentheses

In [1]:
student_tuple1 = ()
print ('student_tuple1:', student_tuple1)
print ('student_tuple1_len:', len(student_tuple1))

student_tuple1: ()
student_tuple1_len: 0

You can pack a tuple by separting its values with commas

In [2]:
student_tuple2 = 'John', 'Green', 3.3
print ('student_tuple2:', student_tuple2)
print ('student_tuple2_len:', len(student_tuple2))

student_tuple2: ('John', 'Green', 3.3)
student_tuple2_len: 3

When ouputing a tuple, python always displays its contents in a parentheses. You may surround a tuples<br>
comma separated list of values with opitional parentheses.

In [3]:
another_student_tuple = ('Mary', 'Red', 3.3)
print ('another_student_tuple:', another_student_tuple)

another_student_tuple: ('Mary', 'Red', 3.3)

The following code creates a one-element tuple

In [4]:
a_singleton_tuple = ('red',) # note the comma, it indentifies the singleton tuple as a tuple
print ('a_singleton_tuple:', a_singleton_tuple)

a_singleton_tuple: ('red',)

Accessing Tuple elements

In [5]:
time_tuple = (9, 16, 1)
print ('time_tuple:', time_tuple)
print ('Seconds since midnight:', time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2])

time_tuple: (9, 16, 1)
Seconds since midnight: 33361

Adding items to a string or tuple. As with lists, the += augmented assignment statement can be used with strings and tuples, even though theyâ€™re immutable.

In [6]:
tuple1= (10, 20, 30)
tuple2 = tuple1
print ('tuple2:', tuple2)
# Concatenating the tuple (40, 50) to tuple1 creates a new tuple, then assigns a reference to it to the variable tuple1â€”tuple2 still refers to the original tuple:
tuple1 += (40, 50)
print ('tuple1:', tuple1)
print ('tuple2:', tuple2)

tuple2: (10, 20, 30)
tuple1: (10, 20, 30, 40, 50)
tuple2: (10, 20, 30)

Appending Tuples to lists, you can use += to append a tuple to a list

In [7]:
numbers = [1, 2, 3, 4, 5,]
numbers += (6,7)
print ('numbers:', numbers)

numbers: [1, 2, 3, 4, 5, 6, 7]

Tuples may contain mutable objects, the following is a student_tuple with first name, last name, and list of grades

In [8]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
print ('student_tuple:', student_tuple)
# Even though the tuple is immutable, its list element (in this case grades) is mutable
student_tuple[2][1] = 85
print ('student_tuple:', student_tuple)
# In the double-subscripted name student_tuple[2][1], Python views student_tuple[2] as the element of the tuple containing the list [98, 75, 87], 
# then uses [1] to access the list element containing 75. The assignment in snippet [24] replaces that grade with 85.

student_tuple: ('Amanda', 'Blue', [98, 75, 87])
student_tuple: ('Amanda', 'Blue', [98, 85, 87])

Self Check<br>
Create a single-element tuple containing 123.45, then display it.

In [9]:
singleton_tuple = (123.45,)
print ('singleton_tuple:', singleton_tuple)

singleton_tuple: (123.45,)

Show what happens when you attempt to concatenate sequences of different types<br>
list = [1, 2, 3]<br>
tuple = (4, 5, 6)<br>
print ('new:', list + tuple)<br>
python displays the following error: type error: can only concatenate list (not tuple) to list

Section 5.4 Unpacking Sequences

The previous chapter introduced tuple unpacking. You can unpack any sequenceâ€™s elements by assigning the sequence to a comma-separated list of variables.<br>
A ValueError occurs if the number of variables to the left of the assignment symbol is not identical to the number of elements in the sequence on the right:

In [10]:
student_tuple = ('Amanda', [98, 85, 87])
first_name, grades = student_tuple
print ('First name:', first_name)
print ('Grades:', grades)

First name: Amanda
Grades: [98, 85, 87]

The following code unpacks a string, a list and a sequence produced by range:

In [11]:
first, second = 'hi'
print (f'{first} {second}')
number1, number2, number3 = [2, 3, 5]
print (f'{number1} {number2} {number3}')
number1, number2, number3 = range(10, 40, 10)
print (f'{number1} {number2} {number3}')

h i
2 3 5
10 20 30

Swapping Values via packing and unpacking

In [12]:
number1 = 99
number2 = 22
number1, number2 = (number2, number1)
print (f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

Accessing Indices and Values Safely with Built-in function enumerate <br>
The preferred mechanism for accessing an elementâ€™s index and value is the built-in function enumerate.

In [13]:
colors = ['red', 'orange', 'yellow']
print ('color list:', list(enumerate(colors)))

color list: [(0, 'red'), (1, 'orange'), (2, 'yellow')]

Similarly the built-in function tuple creates a tuple from a sequence:

In [14]:
print ('color tuple:', tuple(enumerate(colors)))

color tuple: ((0, 'red'), (1, 'orange'), (2, 'yellow'))

The following for loop unpacks each tuple returned by enumerate into the variables index and value and displays them:

In [15]:
for index, value in enumerate(colors):
    print (f'{index}: {value}')

0: red
1: orange
2: yellow